DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
OPENSEARCH_HOST=http://opensearch:9200
OPENSEARCH_INDEX=jlaw-current
OPENSEARCH_SCHEMA_VERSION=2
OPENSEARCH_NUMBER_OF_SHARDS=4
OPENSEARCH_JAVA_OPTS=-Xms2g -Xmx2g
OPENSEARCH_BULK_MAX_BYTES=41943040
REINDEX_TOKEN=
